<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="itemBeingEdited !== item; else elseBlock">
      <span (click)="edit(item)" class="editable-text">{{item.name}}</span>
      <button (click)="remove(item)">remove</button>
      
      <ng-template #elseBlock>
        <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item.name}}"/>
        <button (click)="save(updatedItem.value, item)">save</button>
      </ng-template>
    </span>
  </li>

</ul>

<input #item (keyup.enter)="add(item.value); item.value = ''" type="text"/>
<button (click)="add(item.value); item.value = ''">Add</button>